osrsboxapi/api/internal/client/openapi-client/.openapi-generator/FILES
osrsboxapi/api/internal/client/openapi-client/.gitignore
osrsboxapi/api/internal/client/openapi-client/.openapi-generator-ignore
osrsboxapi/api/internal/client/openapi-client/.travis.yml
osrsboxapi/api/internal/client/openapi-client/git_push.sh
osrsboxapi/api/internal/client/openapi-client/go.mod
osrsboxapi/api/internal/client/openapi-client/go.sum