openapi: 3.0.0
info:
  contact:
    name: osrsbox-api
    url: https://api.osrsbox.com
  description: An open, free, complete and up-to-date RESTful API for Old School RuneScape
    (OSRS) items, monsters and prayers.
  license:
    name: GNU General Public License v3.0
    url: https://github.com/osrsbox/osrsbox-api/blob/master/LICENSE
  title: osrsbox-api
  version: "1.0"
servers:
- url: https://api.osrsbox.com
security:
- BasicAuth: []
tags:
- name: Item
- name: Weapon
- name: Equipment
- name: Monster
- name: Prayer
- name: Icons_item
- name: Icons_prayer
paths:
  /items:
    delete:
      operationId: deleteitems
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all items
      tags:
      - Item
    get:
      operationId: getitems
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: An array of items
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more items
      tags:
      - Item
    post:
      operationId: postitems
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Item'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more items.
      tags:
      - Item
  /items/{itemId}:
    delete:
      operationId: deleteItemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Item document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Item document
      tags:
      - Item
    get:
      operationId: getItemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: Item document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Item document
      tags:
      - Item
    put:
      operationId: putItemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Item'
      responses:
        "200":
          description: Item document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Item document
      tags:
      - Item
  /weapons:
    delete:
      operationId: deleteweapons
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all weapons
      tags:
      - Weapon
    get:
      operationId: getweapons
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: An array of weapons
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more weapons
      tags:
      - Weapon
    post:
      operationId: postweapons
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Weapon'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more weapons.
      tags:
      - Weapon
  /weapons/{weaponId}:
    delete:
      operationId: deleteWeaponItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: weaponId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Weapon document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Weapon document
      tags:
      - Weapon
    get:
      operationId: getWeaponItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: weaponId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weapon'
          description: Weapon document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Weapon document
      tags:
      - Weapon
    put:
      operationId: putWeaponItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: weaponId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Weapon'
      responses:
        "200":
          description: Weapon document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Weapon document
      tags:
      - Weapon
  /equipment:
    delete:
      operationId: deleteequipment
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all equipment
      tags:
      - Equipment
    get:
      operationId: getequipment
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: An array of equipment
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more equipment
      tags:
      - Equipment
    post:
      operationId: postequipment
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Equipment'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more equipment.
      tags:
      - Equipment
  /equipment/{equipmentId}:
    delete:
      operationId: deleteEquipmentItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: equipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Equipment document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Equipment document
      tags:
      - Equipment
    get:
      operationId: getEquipmentItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: equipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
          description: Equipment document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Equipment document
      tags:
      - Equipment
    put:
      operationId: putEquipmentItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: equipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Equipment'
      responses:
        "200":
          description: Equipment document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Equipment document
      tags:
      - Equipment
  /monsters:
    delete:
      operationId: deletemonsters
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all monsters
      tags:
      - Monster
    get:
      operationId: getmonsters
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: An array of monsters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more monsters
      tags:
      - Monster
    post:
      operationId: postmonsters
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Monster'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more monsters.
      tags:
      - Monster
  /monsters/{monsterId}:
    delete:
      operationId: deleteMonsterItem
      parameters:
      - description: Unique OSRS monster ID number.
        example: ""
        explode: false
        in: path
        name: monsterId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Monster document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Monster document
      tags:
      - Monster
    get:
      operationId: getMonsterItem
      parameters:
      - description: Unique OSRS monster ID number.
        example: ""
        explode: false
        in: path
        name: monsterId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monster'
          description: Monster document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Monster document
      tags:
      - Monster
    put:
      operationId: putMonsterItem
      parameters:
      - description: Unique OSRS monster ID number.
        example: ""
        explode: false
        in: path
        name: monsterId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Monster'
      responses:
        "200":
          description: Monster document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Monster document
      tags:
      - Monster
  /prayers:
    delete:
      operationId: deleteprayers
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all prayers
      tags:
      - Prayer
    get:
      operationId: getprayers
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: An array of prayers
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more prayers
      tags:
      - Prayer
    post:
      operationId: postprayers
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Prayer'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more prayers.
      tags:
      - Prayer
  /prayers/{prayerId}:
    delete:
      operationId: deletePrayerItem
      parameters:
      - description: Unique prayer ID number.
        example: ""
        explode: false
        in: path
        name: prayerId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Prayer document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Prayer document
      tags:
      - Prayer
    get:
      operationId: getPrayerItem
      parameters:
      - description: Unique prayer ID number.
        example: ""
        explode: false
        in: path
        name: prayerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prayer'
          description: Prayer document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Prayer document
      tags:
      - Prayer
    put:
      operationId: putPrayerItem
      parameters:
      - description: Unique prayer ID number.
        example: ""
        explode: false
        in: path
        name: prayerId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Prayer'
      responses:
        "200":
          description: Prayer document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Prayer document
      tags:
      - Prayer
  /icons_items:
    delete:
      operationId: deleteicons_items
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all icons_items
      tags:
      - Icons_item
    get:
      operationId: geticons_items
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: An array of icons_items
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more icons_items
      tags:
      - Icons_item
    post:
      operationId: posticons_items
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Icons_item'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more icons_items.
      tags:
      - Icons_item
  /icons_items/{icons_itemId}:
    delete:
      operationId: deleteIcons_itemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: icons_itemId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Icons_item document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Icons_item document
      tags:
      - Icons_item
    get:
      operationId: getIcons_itemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: icons_itemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Icons_item'
          description: Icons_item document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Icons_item document
      tags:
      - Icons_item
    put:
      operationId: putIcons_itemItem
      parameters:
      - description: Unique OSRS item ID number.
        example: ""
        explode: false
        in: path
        name: icons_itemId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Icons_item'
      responses:
        "200":
          description: Icons_item document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Icons_item document
      tags:
      - Icons_item
  /icons_prayers:
    delete:
      operationId: deleteicons_prayers
      parameters: []
      responses:
        "204":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes all icons_prayers
      tags:
      - Icons_prayer
    get:
      operationId: geticons_prayers
      parameters:
      - description: 'the filters query parameter (ex.: {"number": 10})'
        explode: true
        in: query
        name: where
        required: false
        schema:
          type: string
        style: form
      - description: 'the projections query parameter (ex.: {"name": 1})'
        explode: true
        in: query
        name: projection
        required: false
        schema:
          type: string
        style: form
      - description: 'the sort query parameter (ex.: "city,-lastname")'
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: the pages query parameter
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: the max results query parameter
        explode: true
        in: query
        name: max_results
        required: false
        schema:
          example: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: An array of icons_prayers
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves one or more icons_prayers
      tags:
      - Icons_prayer
    post:
      operationId: posticons_prayers
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/Icons_prayer'
      responses:
        "201":
          description: operation has been successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Stores one or more icons_prayers.
      tags:
      - Icons_prayer
  /icons_prayers/{icons_prayerId}:
    delete:
      operationId: deleteIcons_prayerItem
      parameters:
      - description: Unique OSRS prayer ID number.
        example: ""
        explode: false
        in: path
        name: icons_prayerId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Icons_prayer document deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Deletes a Icons_prayer document
      tags:
      - Icons_prayer
    get:
      operationId: getIcons_prayerItem
      parameters:
      - description: Unique OSRS prayer ID number.
        example: ""
        explode: false
        in: path
        name: icons_prayerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Icons_prayer'
          description: Icons_prayer document fetched successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Retrieves a Icons_prayer document
      tags:
      - Icons_prayer
    put:
      operationId: putIcons_prayerItem
      parameters:
      - description: Unique OSRS prayer ID number.
        example: ""
        explode: false
        in: path
        name: icons_prayerId
        required: true
        schema:
          type: string
        style: simple
      - description: Current value of the _etag field
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Icons_prayer'
      responses:
        "200":
          description: Icons_prayer document replaced successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error message
      summary: Replaces a Icons_prayer document
      tags:
      - Icons_prayer
components:
  examples:
    Item:
      description: An example for Item documents request bodies. Used in POST, PUT,
        PATCH methods.
      summary: An example {0} document.
    Weapon:
      description: An example for Weapon documents request bodies. Used in POST, PUT,
        PATCH methods.
      summary: An example {0} document.
    Equipment:
      description: An example for Equipment documents request bodies. Used in POST,
        PUT, PATCH methods.
      summary: An example {0} document.
    Monster:
      description: An example for Monster documents request bodies. Used in POST,
        PUT, PATCH methods.
      summary: An example {0} document.
    Prayer:
      description: An example for Prayer documents request bodies. Used in POST, PUT,
        PATCH methods.
      summary: An example {0} document.
    Icons_item:
      description: An example for Icons_item documents request bodies. Used in POST,
        PUT, PATCH methods.
      summary: An example {0} document.
    Icons_prayer:
      description: An example for Icons_prayer documents request bodies. Used in POST,
        PUT, PATCH methods.
      summary: An example {0} document.
  parameters:
    Item_id:
      description: Unique OSRS item ID number.
      example: ""
      explode: false
      in: path
      name: itemId
      required: true
      schema:
        type: string
      style: simple
    Weapon_id:
      description: Unique OSRS item ID number.
      example: ""
      explode: false
      in: path
      name: weaponId
      required: true
      schema:
        type: string
      style: simple
    Equipment_id:
      description: Unique OSRS item ID number.
      example: ""
      explode: false
      in: path
      name: equipmentId
      required: true
      schema:
        type: string
      style: simple
    Monster_id:
      description: Unique OSRS monster ID number.
      example: ""
      explode: false
      in: path
      name: monsterId
      required: true
      schema:
        type: string
      style: simple
    Prayer_id:
      description: Unique prayer ID number.
      example: ""
      explode: false
      in: path
      name: prayerId
      required: true
      schema:
        type: string
      style: simple
    Icons_item_id:
      description: Unique OSRS item ID number.
      example: ""
      explode: false
      in: path
      name: icons_itemId
      required: true
      schema:
        type: string
      style: simple
    Icons_prayer_id:
      description: Unique OSRS prayer ID number.
      example: ""
      explode: false
      in: path
      name: icons_prayerId
      required: true
      schema:
        type: string
      style: simple
    If-Match:
      description: Current value of the _etag field
      explode: false
      in: header
      name: If-Match
      required: true
      schema:
        type: string
      style: simple
    query__where:
      description: 'the filters query parameter (ex.: {"number": 10})'
      explode: true
      in: query
      name: where
      required: false
      schema:
        type: string
      style: form
    query__projections:
      description: 'the projections query parameter (ex.: {"name": 1})'
      explode: true
      in: query
      name: projection
      required: false
      schema:
        type: string
      style: form
    query__sort:
      description: 'the sort query parameter (ex.: "city,-lastname")'
      explode: true
      in: query
      name: sort
      required: false
      schema:
        type: string
      style: form
    query__page:
      description: the pages query parameter
      explode: true
      in: query
      name: page
      required: false
      schema:
        example: 1
        type: integer
      style: form
    query__max_results:
      description: the max results query parameter
      explode: true
      in: query
      name: max_results
      required: false
      schema:
        example: 25
        type: integer
      style: form
  requestBodies:
    Item:
      content:
        application/json:
          examples:
            Item:
              $ref: '#/components/examples/Item'
          schema:
            $ref: '#/components/schemas/Item'
      description: A Item or list of Item documents
      required: true
    Weapon:
      content:
        application/json:
          examples:
            Weapon:
              $ref: '#/components/examples/Weapon'
          schema:
            $ref: '#/components/schemas/Weapon'
      description: A Weapon or list of Weapon documents
      required: true
    Equipment:
      content:
        application/json:
          examples:
            Equipment:
              $ref: '#/components/examples/Equipment'
          schema:
            $ref: '#/components/schemas/Equipment'
      description: A Equipment or list of Equipment documents
      required: true
    Monster:
      content:
        application/json:
          examples:
            Monster:
              $ref: '#/components/examples/Monster'
          schema:
            $ref: '#/components/schemas/Monster'
      description: A Monster or list of Monster documents
      required: true
    Prayer:
      content:
        application/json:
          examples:
            Prayer:
              $ref: '#/components/examples/Prayer'
          schema:
            $ref: '#/components/schemas/Prayer'
      description: A Prayer or list of Prayer documents
      required: true
    Icons_item:
      content:
        application/json:
          examples:
            Icons_item:
              $ref: '#/components/examples/Icons_item'
          schema:
            $ref: '#/components/schemas/Icons_item'
      description: A Icons_item or list of Icons_item documents
      required: true
    Icons_prayer:
      content:
        application/json:
          examples:
            Icons_prayer:
              $ref: '#/components/examples/Icons_prayer'
          schema:
            $ref: '#/components/schemas/Icons_prayer'
      description: A Icons_prayer or list of Icons_prayer documents
      required: true
  responses:
    error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: An error message
  schemas:
    Item:
      example:
        equipable_weapon: true
        stacked: 0
        quest_item: true
        examine: examine
        wiki_url: wiki_url
        tradeable_on_ge: true
        icon: icon
        linked_id_placeholder: 5
        noteable: true
        weapon:
          weapon_type: axe
          attack_speed: 8
          stances:
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
        incomplete: true
        equipable_by_player: true
        members: true
        tradeable: true
        id: id
        placeholder: true
        highalch: 7
        stackable: true
        lowalch: 2
        last_updated: last_updated
        cost: 5
        equipable: true
        weight: 9.301444
        equipment:
          requirements: '{}'
          defence_ranged: 4
          ranged_strength: 9
          defence_stab: 1
          defence_magic: 1
          attack_magic: 1
          attack_stab: 2
          slot: 2h
          attack_ranged: 1
          prayer: 6
          defence_crush: 7
          defence_slash: 6
          melee_strength: 5
          magic_damage: 9
          attack_slash: 4
          attack_crush: 7
        duplicate: true
        linked_id_item: 6
        buy_limit: 3
        noted: true
        release_date: release_date
        name: name
        linked_id_noted: 1
        wiki_name: wiki_name
      properties:
        id:
          description: Unique OSRS item ID number.
          nullable: false
          type: string
        name:
          description: The name of the item.
          nullable: false
          type: string
        last_updated:
          description: The last time (UTC) the item was updated (in ISO8601 date format).
          nullable: false
          pattern: ^(20[0-9]{2})-([012][0-9])-([0123][0-9])$
          type: string
        incomplete:
          description: If the item has incomplete wiki data.
          nullable: false
          type: boolean
        members:
          description: If the item is a members-only.
          nullable: false
          type: boolean
        tradeable:
          description: If the item is tradeable (between players and on the GE).
          nullable: false
          type: boolean
        tradeable_on_ge:
          description: If the item is tradeable (only on GE).
          nullable: false
          type: boolean
        stackable:
          description: If the item is stackable (in inventory).
          nullable: false
          type: boolean
        stacked:
          description: If the item is stacked, indicated by the stack count.
          nullable: true
          type: integer
        noted:
          description: If the item is noted.
          nullable: false
          type: boolean
        noteable:
          description: If the item is noteable.
          nullable: false
          type: boolean
        linked_id_item:
          description: The linked ID of the actual item (if noted/placeholder).
          nullable: true
          type: integer
        linked_id_noted:
          description: The linked ID of an item in noted form.
          nullable: true
          type: integer
        linked_id_placeholder:
          description: The linked ID of an item in placeholder form.
          nullable: true
          type: integer
        placeholder:
          description: If the item is a placeholder.
          nullable: false
          type: boolean
        equipable:
          description: If the item is equipable (based on right-click menu entry).
          nullable: false
          type: boolean
        equipable_by_player:
          description: If the item is equipable in-game by a player.
          nullable: false
          type: boolean
        equipable_weapon:
          description: If the item is an equipable weapon.
          nullable: false
          type: boolean
        cost:
          description: The store price of an item.
          nullable: false
          type: integer
        lowalch:
          description: The low alchemy value of the item (cost * 0.4).
          nullable: true
          type: integer
        highalch:
          description: The high alchemy value of the item (cost * 0.6).
          nullable: true
          type: integer
        weight:
          description: The weight (in kilograms) of the item.
          format: float
          nullable: true
          type: number
        buy_limit:
          description: The Grand Exchange buy limit of the item.
          nullable: true
          type: integer
        quest_item:
          description: If the item is associated with a quest.
          nullable: false
          type: boolean
        release_date:
          description: Date the item was released (in ISO8601 format).
          nullable: true
          pattern: ^(2[0-9]{3})-([012][0-9])-([0123][0-9])$
          type: string
        duplicate:
          description: If the item is a duplicate.
          nullable: false
          type: boolean
        examine:
          description: The examine text for the item.
          nullable: true
          type: string
        icon:
          description: The item icon (in base64 encoding).
          nullable: false
          type: string
        wiki_name:
          description: The OSRS Wiki name for the item.
          nullable: true
          type: string
        wiki_url:
          description: The OSRS Wiki URL (possibly including anchor link).
          nullable: true
          type: string
        equipment:
          $ref: '#/components/schemas/Item_equipment'
        weapon:
          $ref: '#/components/schemas/Item_weapon'
      required:
      - buy_limit
      - cost
      - duplicate
      - equipable
      - equipable_by_player
      - equipable_weapon
      - equipment
      - examine
      - highalch
      - icon
      - id
      - incomplete
      - last_updated
      - linked_id_item
      - linked_id_noted
      - linked_id_placeholder
      - lowalch
      - members
      - name
      - noteable
      - noted
      - placeholder
      - quest_item
      - release_date
      - stackable
      - stacked
      - tradeable
      - tradeable_on_ge
      - weapon
      - weight
      - wiki_name
      - wiki_url
      type: object
    Weapon:
      example:
        equipable_weapon: true
        stacked: 0
        quest_item: true
        examine: examine
        wiki_url: wiki_url
        tradeable_on_ge: true
        icon: icon
        linked_id_placeholder: 5
        noteable: true
        weapon:
          weapon_type: axe
          attack_speed: 8
          stances:
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
        incomplete: true
        equipable_by_player: true
        members: true
        tradeable: true
        id: id
        placeholder: true
        highalch: 7
        stackable: true
        lowalch: 2
        last_updated: last_updated
        cost: 5
        equipable: true
        weight: 9.301444
        equipment:
          requirements: '{}'
          defence_ranged: 4
          ranged_strength: 9
          defence_stab: 1
          defence_magic: 1
          attack_magic: 1
          attack_stab: 2
          slot: 2h
          attack_ranged: 1
          prayer: 6
          defence_crush: 7
          defence_slash: 6
          melee_strength: 5
          magic_damage: 9
          attack_slash: 4
          attack_crush: 7
        duplicate: true
        linked_id_item: 6
        buy_limit: 3
        noted: true
        release_date: release_date
        name: name
        linked_id_noted: 1
        wiki_name: wiki_name
      properties:
        id:
          description: Unique OSRS item ID number.
          nullable: false
          type: string
        name:
          description: The name of the item.
          nullable: false
          type: string
        last_updated:
          description: The last time (UTC) the item was updated (in ISO8601 date format).
          nullable: false
          pattern: ^(20[0-9]{2})-([012][0-9])-([0123][0-9])$
          type: string
        incomplete:
          description: If the item has incomplete wiki data.
          nullable: false
          type: boolean
        members:
          description: If the item is a members-only.
          nullable: false
          type: boolean
        tradeable:
          description: If the item is tradeable (between players and on the GE).
          nullable: false
          type: boolean
        tradeable_on_ge:
          description: If the item is tradeable (only on GE).
          nullable: false
          type: boolean
        stackable:
          description: If the item is stackable (in inventory).
          nullable: false
          type: boolean
        stacked:
          description: If the item is stacked, indicated by the stack count.
          nullable: true
          type: integer
        noted:
          description: If the item is noted.
          nullable: false
          type: boolean
        noteable:
          description: If the item is noteable.
          nullable: false
          type: boolean
        linked_id_item:
          description: The linked ID of the actual item (if noted/placeholder).
          nullable: true
          type: integer
        linked_id_noted:
          description: The linked ID of an item in noted form.
          nullable: true
          type: integer
        linked_id_placeholder:
          description: The linked ID of an item in placeholder form.
          nullable: true
          type: integer
        placeholder:
          description: If the item is a placeholder.
          nullable: false
          type: boolean
        equipable:
          description: If the item is equipable (based on right-click menu entry).
          nullable: false
          type: boolean
        equipable_by_player:
          description: If the item is equipable in-game by a player.
          nullable: false
          type: boolean
        equipable_weapon:
          description: If the item is an equipable weapon.
          nullable: false
          type: boolean
        cost:
          description: The store price of an item.
          nullable: false
          type: integer
        lowalch:
          description: The low alchemy value of the item (cost * 0.4).
          nullable: true
          type: integer
        highalch:
          description: The high alchemy value of the item (cost * 0.6).
          nullable: true
          type: integer
        weight:
          description: The weight (in kilograms) of the item.
          format: float
          nullable: true
          type: number
        buy_limit:
          description: The Grand Exchange buy limit of the item.
          nullable: true
          type: integer
        quest_item:
          description: If the item is associated with a quest.
          nullable: false
          type: boolean
        release_date:
          description: Date the item was released (in ISO8601 format).
          nullable: true
          pattern: ^(2[0-9]{3})-([012][0-9])-([0123][0-9])$
          type: string
        duplicate:
          description: If the item is a duplicate.
          nullable: false
          type: boolean
        examine:
          description: The examine text for the item.
          nullable: true
          type: string
        icon:
          description: The item icon (in base64 encoding).
          nullable: false
          type: string
        wiki_name:
          description: The OSRS Wiki name for the item.
          nullable: true
          type: string
        wiki_url:
          description: The OSRS Wiki URL (possibly including anchor link).
          nullable: true
          type: string
        equipment:
          $ref: '#/components/schemas/Item_equipment'
        weapon:
          $ref: '#/components/schemas/Item_weapon'
      required:
      - buy_limit
      - cost
      - duplicate
      - equipable
      - equipable_by_player
      - equipable_weapon
      - equipment
      - examine
      - highalch
      - icon
      - id
      - incomplete
      - last_updated
      - linked_id_item
      - linked_id_noted
      - linked_id_placeholder
      - lowalch
      - members
      - name
      - noteable
      - noted
      - placeholder
      - quest_item
      - release_date
      - stackable
      - stacked
      - tradeable
      - tradeable_on_ge
      - weapon
      - weight
      - wiki_name
      - wiki_url
      type: object
    Equipment:
      example:
        equipable_weapon: true
        stacked: 0
        quest_item: true
        examine: examine
        wiki_url: wiki_url
        tradeable_on_ge: true
        icon: icon
        linked_id_placeholder: 5
        noteable: true
        weapon:
          weapon_type: axe
          attack_speed: 8
          stances:
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
          - attack_type: spellcasting
            combat_style: impale
            attack_style: aggressive
            boosts: attack speed by 1 tick
            experience: defence
        incomplete: true
        equipable_by_player: true
        members: true
        tradeable: true
        id: id
        placeholder: true
        highalch: 7
        stackable: true
        lowalch: 2
        last_updated: last_updated
        cost: 5
        equipable: true
        weight: 9.301444
        equipment:
          requirements: '{}'
          defence_ranged: 4
          ranged_strength: 9
          defence_stab: 1
          defence_magic: 1
          attack_magic: 1
          attack_stab: 2
          slot: 2h
          attack_ranged: 1
          prayer: 6
          defence_crush: 7
          defence_slash: 6
          melee_strength: 5
          magic_damage: 9
          attack_slash: 4
          attack_crush: 7
        duplicate: true
        linked_id_item: 6
        buy_limit: 3
        noted: true
        release_date: release_date
        name: name
        linked_id_noted: 1
        wiki_name: wiki_name
      properties:
        id:
          description: Unique OSRS item ID number.
          nullable: false
          type: string
        name:
          description: The name of the item.
          nullable: false
          type: string
        last_updated:
          description: The last time (UTC) the item was updated (in ISO8601 date format).
          nullable: false
          pattern: ^(20[0-9]{2})-([012][0-9])-([0123][0-9])$
          type: string
        incomplete:
          description: If the item has incomplete wiki data.
          nullable: false
          type: boolean
        members:
          description: If the item is a members-only.
          nullable: false
          type: boolean
        tradeable:
          description: If the item is tradeable (between players and on the GE).
          nullable: false
          type: boolean
        tradeable_on_ge:
          description: If the item is tradeable (only on GE).
          nullable: false
          type: boolean
        stackable:
          description: If the item is stackable (in inventory).
          nullable: false
          type: boolean
        stacked:
          description: If the item is stacked, indicated by the stack count.
          nullable: true
          type: integer
        noted:
          description: If the item is noted.
          nullable: false
          type: boolean
        noteable:
          description: If the item is noteable.
          nullable: false
          type: boolean
        linked_id_item:
          description: The linked ID of the actual item (if noted/placeholder).
          nullable: true
          type: integer
        linked_id_noted:
          description: The linked ID of an item in noted form.
          nullable: true
          type: integer
        linked_id_placeholder:
          description: The linked ID of an item in placeholder form.
          nullable: true
          type: integer
        placeholder:
          description: If the item is a placeholder.
          nullable: false
          type: boolean
        equipable:
          description: If the item is equipable (based on right-click menu entry).
          nullable: false
          type: boolean
        equipable_by_player:
          description: If the item is equipable in-game by a player.
          nullable: false
          type: boolean
        equipable_weapon:
          description: If the item is an equipable weapon.
          nullable: false
          type: boolean
        cost:
          description: The store price of an item.
          nullable: false
          type: integer
        lowalch:
          description: The low alchemy value of the item (cost * 0.4).
          nullable: true
          type: integer
        highalch:
          description: The high alchemy value of the item (cost * 0.6).
          nullable: true
          type: integer
        weight:
          description: The weight (in kilograms) of the item.
          format: float
          nullable: true
          type: number
        buy_limit:
          description: The Grand Exchange buy limit of the item.
          nullable: true
          type: integer
        quest_item:
          description: If the item is associated with a quest.
          nullable: false
          type: boolean
        release_date:
          description: Date the item was released (in ISO8601 format).
          nullable: true
          pattern: ^(2[0-9]{3})-([012][0-9])-([0123][0-9])$
          type: string
        duplicate:
          description: If the item is a duplicate.
          nullable: false
          type: boolean
        examine:
          description: The examine text for the item.
          nullable: true
          type: string
        icon:
          description: The item icon (in base64 encoding).
          nullable: false
          type: string
        wiki_name:
          description: The OSRS Wiki name for the item.
          nullable: true
          type: string
        wiki_url:
          description: The OSRS Wiki URL (possibly including anchor link).
          nullable: true
          type: string
        equipment:
          $ref: '#/components/schemas/Item_equipment'
        weapon:
          $ref: '#/components/schemas/Item_weapon'
      required:
      - buy_limit
      - cost
      - duplicate
      - equipable
      - equipable_by_player
      - equipable_weapon
      - equipment
      - examine
      - highalch
      - icon
      - id
      - incomplete
      - last_updated
      - linked_id_item
      - linked_id_noted
      - linked_id_placeholder
      - lowalch
      - members
      - name
      - noteable
      - noted
      - placeholder
      - quest_item
      - release_date
      - stackable
      - stacked
      - tradeable
      - tradeable_on_ge
      - weapon
      - weight
      - wiki_name
      - wiki_url
      type: object
    Monster:
      example:
        attack_bonus: 1
        attack_type:
        - attack_type
        - attack_type
        examine: examine
        wiki_url: wiki_url
        defence_magic: 9
        attack_magic: 1
        attack_speed: 5
        poisonous: true
        combat_level: 0
        hitpoints: 1
        slayer_monster: true
        incomplete: true
        ranged_level: 7
        strength_bonus: 1
        drops:
        - noted: true
          quantity: quantity
          members: true
          name: name
          id: 8
          rolls: 6
          rarity: 9.018348
        - noted: true
          quantity: quantity
          members: true
          name: name
          id: 8
          rolls: 6
          rarity: 9.018348
        slayer_level: 2
        venomous: true
        members: true
        id: id
        aggressive: true
        magic_bonus: 6
        defence_slash: 5
        slayer_xp: 7.0614014
        last_updated: last_updated
        defence_ranged: 6
        defence_stab: 4
        immune_poison: true
        immune_venom: true
        duplicate: true
        magic_level: 4
        max_hit: 5
        attack_ranged: 7
        ranged_bonus: 1
        size: 6
        release_date: release_date
        name: name
        defence_level: 2
        defence_crush: 9
        attributes:
        - attributes
        - attributes
        wiki_name: wiki_name
        strength_level: 3
        slayer_masters:
        - slayer_masters
        - slayer_masters
        category:
        - category
        - category
        attack_level: 9
      properties:
        id:
          description: Unique OSRS monster ID number.
          nullable: false
          type: string
        name:
          description: The name of the monster.
          nullable: false
          type: string
        last_updated:
          description: The last time (UTC) the monster was updated (in ISO8601 date
            format).
          nullable: true
          pattern: ^(20[0-9]{2})-([012][0-9])-([0123][0-9])$
          type: string
        incomplete:
          description: If the monster has incomplete wiki data.
          nullable: false
          type: boolean
        members:
          description: If the monster is members only, or not.
          nullable: false
          type: boolean
        release_date:
          description: The release date of the monster (in ISO8601 date format).
          nullable: true
          pattern: ^(2[0-9]{3})-([012][0-9])-([0123][0-9])$
          type: string
        combat_level:
          description: The combat level of the monster.
          nullable: false
          type: integer
        size:
          description: The size, in tiles, of the monster.
          nullable: false
          type: integer
        hitpoints:
          description: The number of hitpoints a monster has.
          nullable: true
          type: integer
        max_hit:
          description: The maximum hit of the monster.
          nullable: true
          type: integer
        attack_type:
          description: The attack style (e.g., melee, magic, range) of the monster.
          items:
            type: string
          nullable: false
          type: array
        attack_speed:
          description: The attack speed (in game ticks) of the monster.
          nullable: true
          type: integer
        aggressive:
          description: If the monster is aggressive, or not.
          nullable: false
          type: boolean
        poisonous:
          description: If the monster poisons, or not
          nullable: false
          type: boolean
        venomous:
          description: If the monster poisons using venom, or not
          nullable: false
          type: boolean
        immune_poison:
          description: If the monster is immune to poison, or not
          nullable: false
          type: boolean
        immune_venom:
          description: If the monster is immune to venom, or not
          nullable: false
          type: boolean
        attributes:
          description: An array of monster attributes.
          enum:
          - demon
          - dragon
          - fiery
          - kalphite
          - leafy
          - penance
          - shade
          - undead
          - vampyre
          - xerician
          items:
            type: string
          nullable: false
          type: array
        category:
          description: An array of monster category.
          enum:
          - aberrant spectre
          - abyssal demon
          - adamant dragon
          - ankou
          - aviansie
          - bandit
          - banshee
          - basilisk
          - bat
          - bear
          - bird
          - black demon
          - black dragon
          - black knight
          - bloodveld
          - blue dragon
          - boss
          - brine rat
          - bronze dragon
          - catablepon
          - cave bug
          - cave crawler
          - cave horror
          - cave kraken
          - cave slime
          - chaos druid
          - cockatrice
          - cow
          - crawling hand
          - crocodile
          - dagannoth
          - dark beast
          - dark warrior
          - dog
          - drake
          - dust devil
          - dwarf
          - earth warrior
          - elemental
          - elves
          - fever spider
          - fire giant
          - flesh crawler
          - fossil island wyvern
          - gargoyle
          - ghost
          - ghoul
          - goblin
          - greater demon
          - green dragon
          - harpie bug swarm
          - hellhound
          - hill giant
          - hobgoblin
          - hydras
          - ice giant
          - ice warrior
          - icefiend
          - infernal mage
          - iron dragon
          - jelly
          - jungle horror
          - kalphite
          - killerwatt
          - kurask
          - lava dragon
          - lesser demon
          - lizardmen
          - lizard
          - magic axe
          - mammoth
          - minotaur
          - mithril dragon
          - mogre
          - molanisk
          - monkey
          - moss giant
          - mutated zygomite
          - nechryael
          - ogre
          - otherworldly being
          - pirate
          - pyrefiend
          - rat
          - red dragon
          - revenant
          - rockslug
          - rogue
          - rune dragon
          - sand crab
          - scabarite
          - scorpion
          - sea snake
          - shade
          - shadow warrior
          - skeletal wyvern
          - skeleton
          - smoke devil
          - sourhog
          - spider
          - spiritual creature
          - steel dragon
          - suqah
          - terror dog
          - troll
          - turoth
          - tzhaar
          - vampyre
          - wall beast
          - waterfiend
          - werewolf
          - wolf
          - wyrm
          - zombie
          items:
            type: string
          nullable: false
          type: array
        slayer_monster:
          description: If the monster is a potential slayer task.
          nullable: false
          type: boolean
        slayer_level:
          description: The slayer level required to kill the monster.
          nullable: true
          type: integer
        slayer_xp:
          description: The slayer XP rewarded for a monster kill.
          format: float
          nullable: true
          type: number
        slayer_masters:
          description: The slayer masters who can assign the monster.
          enum:
          - turael
          - spria
          - krystilia
          - mazchna
          - vannaka
          - chaeldar
          - konar
          - nieve
          - duradel
          items:
            type: string
          nullable: false
          type: array
        duplicate:
          description: If the monster is a duplicate.
          nullable: false
          type: boolean
        examine:
          description: The examine text of the monster.
          nullable: false
          type: string
        wiki_name:
          description: The OSRS Wiki name for the monster.
          nullable: false
          type: string
        wiki_url:
          description: The OSRS Wiki URL (possibly including anchor link).
          nullable: false
          type: string
        attack_level:
          description: The attack level of the monster.
          nullable: false
          type: integer
        strength_level:
          description: The strength level of the monster.
          nullable: false
          type: integer
        defence_level:
          description: The defence level of the monster.
          nullable: false
          type: integer
        magic_level:
          description: The magic level of the monster.
          nullable: false
          type: integer
        ranged_level:
          description: The ranged level of the monster.
          nullable: false
          type: integer
        attack_bonus:
          description: The attack bonus of the monster.
          nullable: false
          type: integer
        strength_bonus:
          description: The strength bonus of the monster.
          nullable: false
          type: integer
        attack_magic:
          description: The magic attack of the monster.
          nullable: false
          type: integer
        magic_bonus:
          description: The magic bonus of the monster.
          nullable: false
          type: integer
        attack_ranged:
          description: The ranged attack of the monster.
          nullable: false
          type: integer
        ranged_bonus:
          description: The ranged bonus of the monster.
          nullable: false
          type: integer
        defence_stab:
          description: The defence stab bonus of the monster.
          nullable: false
          type: integer
        defence_slash:
          description: The defence slash bonus of the monster.
          nullable: false
          type: integer
        defence_crush:
          description: The defence crush bonus of the monster.
          nullable: false
          type: integer
        defence_magic:
          description: The defence magic bonus of the monster.
          nullable: false
          type: integer
        defence_ranged:
          description: The defence ranged bonus of the monster.
          nullable: false
          type: integer
        drops:
          description: An array of monster drop objects.
          items:
            $ref: '#/components/schemas/Monster_drops'
          nullable: false
          type: array
      required:
      - aggressive
      - attack_bonus
      - attack_level
      - attack_magic
      - attack_ranged
      - attack_speed
      - attack_type
      - attributes
      - category
      - combat_level
      - defence_crush
      - defence_level
      - defence_magic
      - defence_ranged
      - defence_slash
      - defence_stab
      - drops
      - duplicate
      - examine
      - hitpoints
      - id
      - immune_poison
      - immune_venom
      - incomplete
      - last_updated
      - magic_bonus
      - magic_level
      - max_hit
      - members
      - name
      - poisonous
      - ranged_bonus
      - ranged_level
      - release_date
      - size
      - slayer_level
      - slayer_masters
      - slayer_monster
      - slayer_xp
      - strength_bonus
      - strength_level
      - venomous
      - wiki_name
      - wiki_url
      type: object
    Prayer:
      example:
        drain_per_minute: 0.8008282
        requirements: '{}'
        wiki_url: wiki_url
        members: true
        name: name
        icon: icon
        description: description
        id: id
        bonuses: '{}'
      properties:
        id:
          description: Unique prayer ID number.
          nullable: false
          type: string
        name:
          description: The name of the prayer.
          nullable: false
          type: string
        members:
          description: If the prayer is members-only.
          nullable: false
          type: boolean
        description:
          description: The prayer description (as show in-game).
          nullable: false
          type: string
        drain_per_minute:
          description: The prayer point drain rate per minute.
          format: float
          nullable: false
          type: number
        wiki_url:
          description: The OSRS Wiki URL.
          nullable: false
          type: string
        requirements:
          description: The stat requirements to use the prayer.
          nullable: false
          type: object
        bonuses:
          description: The bonuses a prayer provides.
          nullable: false
          type: object
        icon:
          description: The prayer icon.
          nullable: false
          type: string
      required:
      - bonuses
      - description
      - drain_per_minute
      - icon
      - id
      - members
      - name
      - requirements
      - wiki_url
      type: object
    Icons_item:
      example:
        icon: icon
        id: id
      properties:
        id:
          description: Unique OSRS item ID number.
          nullable: false
          type: string
        icon:
          description: The icon image (in base64 encoding) of the item.
          nullable: false
          type: string
      required:
      - icon
      - id
      type: object
    Icons_prayer:
      example:
        icon: icon
        id: id
      properties:
        id:
          description: Unique OSRS prayer ID number.
          nullable: false
          type: string
        icon:
          description: The icon image (in base64 encoding) of the prayer.
          nullable: false
          type: string
      required:
      - icon
      - id
      type: object
    Error:
      properties:
        _status:
          example: OK
          type: string
        _error:
          $ref: '#/components/schemas/Error__error'
      required:
      - _error
      - _status
      type: object
    respone_metadata:
      example:
        total: 9
        max_results: 6
        page: ""
      properties:
        page:
          type: int
        total:
          type: integer
        max_results:
          type: integer
      type: object
    respone_links:
      example:
        parent:
          href: https://openapi-generator.tech
          title: https://openapi-generator.tech
        self:
          href: https://openapi-generator.tech
          title: https://openapi-generator.tech
      properties:
        parent:
          $ref: '#/components/schemas/respone_links_parent'
        self:
          $ref: '#/components/schemas/respone_links_parent'
      type: object
    inline_response_200:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Item'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_1:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Weapon'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_2:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
        - equipable_weapon: true
          stacked: 0
          quest_item: true
          examine: examine
          wiki_url: wiki_url
          tradeable_on_ge: true
          icon: icon
          linked_id_placeholder: 5
          noteable: true
          weapon:
            weapon_type: axe
            attack_speed: 8
            stances:
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
            - attack_type: spellcasting
              combat_style: impale
              attack_style: aggressive
              boosts: attack speed by 1 tick
              experience: defence
          incomplete: true
          equipable_by_player: true
          members: true
          tradeable: true
          id: id
          placeholder: true
          highalch: 7
          stackable: true
          lowalch: 2
          last_updated: last_updated
          cost: 5
          equipable: true
          weight: 9.301444
          equipment:
            requirements: '{}'
            defence_ranged: 4
            ranged_strength: 9
            defence_stab: 1
            defence_magic: 1
            attack_magic: 1
            attack_stab: 2
            slot: 2h
            attack_ranged: 1
            prayer: 6
            defence_crush: 7
            defence_slash: 6
            melee_strength: 5
            magic_damage: 9
            attack_slash: 4
            attack_crush: 7
          duplicate: true
          linked_id_item: 6
          buy_limit: 3
          noted: true
          release_date: release_date
          name: name
          linked_id_noted: 1
          wiki_name: wiki_name
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Equipment'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_3:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - attack_bonus: 1
          attack_type:
          - attack_type
          - attack_type
          examine: examine
          wiki_url: wiki_url
          defence_magic: 9
          attack_magic: 1
          attack_speed: 5
          poisonous: true
          combat_level: 0
          hitpoints: 1
          slayer_monster: true
          incomplete: true
          ranged_level: 7
          strength_bonus: 1
          drops:
          - noted: true
            quantity: quantity
            members: true
            name: name
            id: 8
            rolls: 6
            rarity: 9.018348
          - noted: true
            quantity: quantity
            members: true
            name: name
            id: 8
            rolls: 6
            rarity: 9.018348
          slayer_level: 2
          venomous: true
          members: true
          id: id
          aggressive: true
          magic_bonus: 6
          defence_slash: 5
          slayer_xp: 7.0614014
          last_updated: last_updated
          defence_ranged: 6
          defence_stab: 4
          immune_poison: true
          immune_venom: true
          duplicate: true
          magic_level: 4
          max_hit: 5
          attack_ranged: 7
          ranged_bonus: 1
          size: 6
          release_date: release_date
          name: name
          defence_level: 2
          defence_crush: 9
          attributes:
          - attributes
          - attributes
          wiki_name: wiki_name
          strength_level: 3
          slayer_masters:
          - slayer_masters
          - slayer_masters
          category:
          - category
          - category
          attack_level: 9
        - attack_bonus: 1
          attack_type:
          - attack_type
          - attack_type
          examine: examine
          wiki_url: wiki_url
          defence_magic: 9
          attack_magic: 1
          attack_speed: 5
          poisonous: true
          combat_level: 0
          hitpoints: 1
          slayer_monster: true
          incomplete: true
          ranged_level: 7
          strength_bonus: 1
          drops:
          - noted: true
            quantity: quantity
            members: true
            name: name
            id: 8
            rolls: 6
            rarity: 9.018348
          - noted: true
            quantity: quantity
            members: true
            name: name
            id: 8
            rolls: 6
            rarity: 9.018348
          slayer_level: 2
          venomous: true
          members: true
          id: id
          aggressive: true
          magic_bonus: 6
          defence_slash: 5
          slayer_xp: 7.0614014
          last_updated: last_updated
          defence_ranged: 6
          defence_stab: 4
          immune_poison: true
          immune_venom: true
          duplicate: true
          magic_level: 4
          max_hit: 5
          attack_ranged: 7
          ranged_bonus: 1
          size: 6
          release_date: release_date
          name: name
          defence_level: 2
          defence_crush: 9
          attributes:
          - attributes
          - attributes
          wiki_name: wiki_name
          strength_level: 3
          slayer_masters:
          - slayer_masters
          - slayer_masters
          category:
          - category
          - category
          attack_level: 9
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Monster'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_4:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - drain_per_minute: 0.8008282
          requirements: '{}'
          wiki_url: wiki_url
          members: true
          name: name
          icon: icon
          description: description
          id: id
          bonuses: '{}'
        - drain_per_minute: 0.8008282
          requirements: '{}'
          wiki_url: wiki_url
          members: true
          name: name
          icon: icon
          description: description
          id: id
          bonuses: '{}'
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Prayer'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_5:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - icon: icon
          id: id
        - icon: icon
          id: id
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Icons_item'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    inline_response_200_6:
      example:
        _links:
          parent:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
          self:
            href: https://openapi-generator.tech
            title: https://openapi-generator.tech
        _meta:
          total: 9
          max_results: 6
          page: ""
        _items:
        - icon: icon
          id: id
        - icon: icon
          id: id
      properties:
        _items:
          items:
            $ref: '#/components/schemas/Icons_prayer'
          type: array
        _meta:
          $ref: '#/components/schemas/respone_metadata'
        _links:
          $ref: '#/components/schemas/respone_links'
      type: object
    Item_equipment:
      description: The equipment bonuses of equipable armour/weapons.
      example:
        requirements: '{}'
        defence_ranged: 4
        ranged_strength: 9
        defence_stab: 1
        defence_magic: 1
        attack_magic: 1
        attack_stab: 2
        slot: 2h
        attack_ranged: 1
        prayer: 6
        defence_crush: 7
        defence_slash: 6
        melee_strength: 5
        magic_damage: 9
        attack_slash: 4
        attack_crush: 7
      nullable: true
      properties:
        attack_stab:
          description: The attack stab bonus of the item.
          nullable: false
          type: integer
        attack_slash:
          description: The attack slash bonus of the item.
          nullable: false
          type: integer
        attack_crush:
          description: The attack crush bonus of the item.
          nullable: false
          type: integer
        attack_magic:
          description: The attack magic bonus of the item.
          nullable: false
          type: integer
        attack_ranged:
          description: The attack ranged bonus of the item.
          nullable: false
          type: integer
        defence_stab:
          description: The defence stab bonus of the item.
          nullable: false
          type: integer
        defence_slash:
          description: The defence slash bonus of the item.
          nullable: false
          type: integer
        defence_crush:
          description: The defence crush bonus of the item.
          nullable: false
          type: integer
        defence_magic:
          description: The defence magic bonus of the item.
          nullable: false
          type: integer
        defence_ranged:
          description: The defence ranged bonus of the item.
          nullable: false
          type: integer
        melee_strength:
          description: The melee strength bonus of the item.
          nullable: false
          type: integer
        ranged_strength:
          description: The ranged strength bonus of the item.
          nullable: false
          type: integer
        magic_damage:
          description: The magic damage bonus of the item.
          nullable: false
          type: integer
        prayer:
          description: The prayer bonus of the item.
          nullable: false
          type: integer
        slot:
          description: The equipment slot associated with the item (e.g., head).
          enum:
          - 2h
          - ammo
          - body
          - cape
          - feet
          - hands
          - head
          - legs
          - neck
          - ring
          - shield
          - weapon
          nullable: false
          type: string
        requirements:
          description: 'An object of requirements {skill: level}.'
          nullable: true
          type: object
      required:
      - attack_crush
      - attack_magic
      - attack_ranged
      - attack_slash
      - attack_stab
      - defence_crush
      - defence_magic
      - defence_ranged
      - defence_slash
      - defence_stab
      - magic_damage
      - melee_strength
      - prayer
      - ranged_strength
      - requirements
      - slot
      type: object
    Item_weapon_stances:
      example:
        attack_type: spellcasting
        combat_style: impale
        attack_style: aggressive
        boosts: attack speed by 1 tick
        experience: defence
      properties:
        combat_style:
          enum:
          - impale
          - aim and fire
          - reap
          - bash
          - long fuse
          - pummel
          - smash
          - blaze
          - flare
          - rapid
          - lunge
          - stab
          - swipe
          - short fuse
          - punch
          - kick
          - spike
          - scorch
          - focus
          - deflect
          - fend
          - block
          - medium fuse
          - flick
          - slash
          - longrange
          - hack
          - accurate
          - pound
          - chop
          - jab
          - lash
          - spell
          - spell (defensive)
          nullable: false
          type: string
        attack_type:
          enum:
          - spellcasting
          - stab
          - ranged
          - slash
          - crush
          - magic
          - defensive casting
          nullable: true
[...]
